<template name="discover">
	<section style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pic11.jpg'); background-size:cover; padding: 7em 0 7em 0;">
		<div class="inner" align="center">
			<h1 style="color:white">Discover Jobs</h1>
		</div>
	</section>
	<section>
		<div class="inner">
			<div class="row uniform">
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="google">
					<h3 style="margin:0">Software Engineer
					</h3>
					<span>Google Inc.</span>
					<blockquote>Determines operational feasibility by evaluating analysis, problem definition, and proposed solution...</blockquote>
					<a href="#popupgoogle" class="button alt">More</a>
					<a href="#applygoogle" class="button special" id="applygoogle">Apply</a>
					<div id="popupgoogle" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Software Engineer
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">8.7</p>
								</span>
							</h3>
							<i>Google Inc.<br>
							1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Determines operational feasibility by evaluating analysis, problem definition, and proposed solutions.</li>
								<li>Documents and demonstrates solutions by developing documentation, flowcharts, layouts, diagrams and clear code.</li>
								<li>Prepares and installs solutions by determining and designing system specifications, standards, and programming.</li>
								<li>Improves operations by conducting systems analysis; recommending changes in policies and procedures.</li>
								<li>Obtains and licenses software by obtaining required information from vendors; recommending purchases; testing and approving products.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3000 - $4300</p>
							<a href="#applygoogle" id="applygoogle" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="microsoft">
					<h3 style="margin:0">Licensing Executive</h3>
					<span>Microsoft Singapore</span>
					<blockquote>Simplifying complex licensing, technical and complaince issues; be able to balance competing deal pr...</blockquote>
					<a href="#popupmicrosoft" class="button alt">More</a>
					<a href="#applymicrosoft" class="button special" id="applymicrosoft">Apply</a>
					<div id="popupmicrosoft" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Licensing Executive
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">8.3</p>
								</span>
							</h3>
							<i>Microsoft Singapore<br>
							#22-01, 1 Marina Blvd, Singapore 018989<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Simplifying complex licensing, technical and complaince issues</li>
								<li>Be able to balance competing deal priorities</li>
								<li>Be able to negotiate at C level and be a trusted and proactive advisor to the field and corporate partners</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applymicrosoft" id="applymicrosoft" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="govtech">
					<h3 style="margin:0">Systems Admin</h3>
					<span>Government Technology Agency</span>
					<blockquote>Setting up new Windows or Linux servers for the environment, Setting up new user machines to connec...</blockquote>
					<a href="#popupgovtech" class="button alt">More</a>
					<a href="#applygovtech" class="button special" id="applygovtech">Apply</a>
					<div id="popupgovtech" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Systems Admin
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.8</p>
								</span>
							</h3>
							<i>Government Technology Agency<br>
							10 Pasir Panjang Road, #10-01 Mapletree Business City, Singapore 117438<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Setting up new Windows or Linux servers for the environment</li>
								<li>Setting up new user machines to connect to servers</li>
								<li>Creation and setting up of new user accounts for developers</li>
								<li>Conducting training for users on how to log in/using of server resources</li>
								<li>Monitoring of jobs and hardware components for failure</li>
								<li>Troubleshooting performance and configuration issues</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applygovtech" id="applygovtech" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="raintree">
					<h3 style="margin:0">Market Analyst</h3>
					<span>Raintree Partnership</span>
					<blockquote>Liaise with the data management team and business users to gather requirements. Analyze data...</blockquote>
					<a href="#popupraintree" class="button alt">More</a>
					<a href="#applyraintree" class="button special" id="applyraintree">Apply</a>
					<div id="popupraintree" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Market Analyst
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.7</p>
								</span>
							</h3>
							<i>Raintree Partnership<br>
							137 Market St, Singapore 048943<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Liaise with the data management team and business users to gather requirements.</li>
								<li>Analyze data points for different asset classes and validate incoming data.</li>
								<li>Analyze downstream and upstream systems and enable process for data distribution.</li>
								<li>Define logic for gold copy for all data points based on different data sources</li>
								<li>Define processes to establish and maintain integrity of transaction data flows</li>
								<li>Stay updated with all business procedures and activities with regards to the adaptability of respective technologies.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$6000 - $7500</p>
							<a href="#applyraintree" id="applyraintree" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="redhat">
					<h3 style="margin:0">Financial Analyst</h3>
					<span>Red Hat Inc.</span>
					<blockquote>Prepare weekly forecast reports for individual sales teams and the region, Track performanc...</blockquote>
					<a href="#popupredhat" class="button alt">More</a>
					<a href="#applyredhat" class="button special" id="applyredhat">Apply</a>
					<div id="popupredhat" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Financial Analyst
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.3</p>
								</span>
							</h3>
							<i>Red Hat Inc.<br>
							8 Shenton Way, AXA Tower, Singapore 068811<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Prepare weekly forecast reports for individual sales teams and the region</li>
								<li>Track performance metrics of our representatives like linearity, product mix and open pipeline</li>
								<li>Analyze the pipeline for mix, aging, quality, etc.</li>
								<li>Support the setting of quotas, change tracking, and communication with relevant managers</li>
								<li>Perform segment quarterly business reviews (QBRs) for the enterprise, channel, offerings, etc.</li>
								<li>Provide planning support to managers (historical performance data for segments and representatives)</li>
								<li>Measure statistical trends to support forecast (close rates, linearity, early renewal trends, etc.)</li>
								<li>Create state-of-play dashboards</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$5000 - $6300</p>
							<a href="#applyredhat" id="applyredhat" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="drupal">
					<h3 style="margin:0">Drupal Developer</h3>
					<span>Cognizant Technology Solutions</span>
					<blockquote>Years of recent experience working on Drupal, Good at PHP / MySQL, HTML5 / CSS / JavaS...</blockquote>
					<a href="#popupdrupal" class="button alt">More</a>
					<a href="#applydrupal" class="button special" id="applydrupal">Apply</a>
					<div id="popupdrupal" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Drupal Developer
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.1</p>
								</span>
							</h3>
							<i>Cognizant Technology Solutions<br>
							80 Anson Road# 27-02/03 Fuji Xerox Towers Singapore 079907<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Years of recent experience working on Drupal</li>
								<li>Good at PHP / MySQL</li>
								<li>HTML5 / CSS / JavaScript</li>
								<li>AngularJS or Vue</li>
								<li>Some work experience with Elastic Search</li>
								<li>Coding and development of OLM APAC platform</li>
								<li>Communicating with business stakehodlers</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$4000 - $5300</p>
							<a href="#applydrupal" id="applydrupal" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="garena">
					<h3 style="margin:0">System Admin</h3>
					<span>Garena</span>
					<blockquote>Study, evaluate and design technical operation technologies and solutions. Develop plat...</blockquote>
					<a href="#popupgarena" class="button alt">More</a>
					<a href="#applygarena" class="button special" id="applygarena">Apply</a>
					<div id="popupgarena" class="overlay">
						<div class="popup">
							<h3 style="margin:0">System Admin
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.0</p>
								</span>
							</h3>
							<i>Garena<br>
							1 Fusionopolis Place, # 17-10, Galaxis Building, Singapore 138522<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Study, evaluate and design technical operation technologies and solutions</li>
								<li>Develop platforms for technical operation incl. release/test/deploy/monitor, etc.</li>
								<li>Develop software modules for technical operation automation and visualization.</li>
								<li>Develop tools for configuration management.</li>
								<li>Liaise with operating engineers for continuous improvement and optimization.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applygarena" id="applygarena" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="google">
					<h3 style="margin:0">Software Engineer
					</h3>
					<span>Google Inc.</span>
					<blockquote>Determines operational feasibility by evaluating analysis, problem definition, and proposed solution...</blockquote>
					<a href="#popupgoogle" class="button alt">More</a>
					<a href="#applygoogle" class="button special" id="applygoogle">Apply</a>
					<div id="popupgoogle" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Software Engineer
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">8.7</p>
								</span>
							</h3>
							<i>Google Inc.<br>
							1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Determines operational feasibility by evaluating analysis, problem definition, and proposed solutions.</li>
								<li>Documents and demonstrates solutions by developing documentation, flowcharts, layouts, diagrams and clear code.</li>
								<li>Prepares and installs solutions by determining and designing system specifications, standards, and programming.</li>
								<li>Improves operations by conducting systems analysis; recommending changes in policies and procedures.</li>
								<li>Obtains and licenses software by obtaining required information from vendors; recommending purchases; testing and approving products.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3000 - $4300</p>
							<a href="#applygoogle" id="applygoogle" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="microsoft">
					<h3 style="margin:0">Licensing Executive</h3>
					<span>Microsoft Singapore</span>
					<blockquote>Simplifying complex licensing, technical and complaince issues; be able to balance competing deal pr...</blockquote>
					<a href="#popupmicrosoft" class="button alt">More</a>
					<a href="#applymicrosoft" class="button special" id="applymicrosoft">Apply</a>
					<div id="popupmicrosoft" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Licensing Executive
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">8.3</p>
								</span>
							</h3>
							<i>Microsoft Singapore<br>
							#22-01, 1 Marina Blvd, Singapore 018989<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Simplifying complex licensing, technical and complaince issues</li>
								<li>Be able to balance competing deal priorities</li>
								<li>Be able to negotiate at C level and be a trusted and proactive advisor to the field and corporate partners</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applymicrosoft" id="applymicrosoft" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="govtech">
					<h3 style="margin:0">Systems Admin</h3>
					<span>Government Technology Agency</span>
					<blockquote>Setting up new Windows or Linux servers for the environment, Setting up new user machines to connec...</blockquote>
					<a href="#popupgovtech" class="button alt">More</a>
					<a href="#applygovtech" class="button special" id="applygovtech">Apply</a>
					<div id="popupgovtech" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Systems Admin
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.8</p>
								</span>
							</h3>
							<i>Government Technology Agency<br>
							10 Pasir Panjang Road, #10-01 Mapletree Business City, Singapore 117438<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Setting up new Windows or Linux servers for the environment</li>
								<li>Setting up new user machines to connect to servers</li>
								<li>Creation and setting up of new user accounts for developers</li>
								<li>Conducting training for users on how to log in/using of server resources</li>
								<li>Monitoring of jobs and hardware components for failure</li>
								<li>Troubleshooting performance and configuration issues</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applygovtech" id="applygovtech" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="raintree">
					<h3 style="margin:0">Market Analyst</h3>
					<span>Raintree Partnership</span>
					<blockquote>Liaise with the data management team and business users to gather requirements. Analyze data...</blockquote>
					<a href="#popupraintree" class="button alt">More</a>
					<a href="#applyraintree" class="button special" id="applyraintree">Apply</a>
					<div id="popupraintree" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Market Analyst
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.7</p>
								</span>
							</h3>
							<i>Raintree Partnership<br>
							137 Market St, Singapore 048943<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Liaise with the data management team and business users to gather requirements.</li>
								<li>Analyze data points for different asset classes and validate incoming data.</li>
								<li>Analyze downstream and upstream systems and enable process for data distribution.</li>
								<li>Define logic for gold copy for all data points based on different data sources</li>
								<li>Define processes to establish and maintain integrity of transaction data flows</li>
								<li>Stay updated with all business procedures and activities with regards to the adaptability of respective technologies.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$6000 - $7500</p>
							<a href="#applyraintree" id="applyraintree" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="redhat">
					<h3 style="margin:0">Financial Analyst</h3>
					<span>Red Hat Inc.</span>
					<blockquote>Prepare weekly forecast reports for individual sales teams and the region, Track performanc...</blockquote>
					<a href="#popupredhat" class="button alt">More</a>
					<a href="#applyredhat" class="button special" id="applyredhat">Apply</a>
					<div id="popupredhat" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Financial Analyst
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.3</p>
								</span>
							</h3>
							<i>Red Hat Inc.<br>
							8 Shenton Way, AXA Tower, Singapore 068811<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Prepare weekly forecast reports for individual sales teams and the region</li>
								<li>Track performance metrics of our representatives like linearity, product mix and open pipeline</li>
								<li>Analyze the pipeline for mix, aging, quality, etc.</li>
								<li>Support the setting of quotas, change tracking, and communication with relevant managers</li>
								<li>Perform segment quarterly business reviews (QBRs) for the enterprise, channel, offerings, etc.</li>
								<li>Provide planning support to managers (historical performance data for segments and representatives)</li>
								<li>Measure statistical trends to support forecast (close rates, linearity, early renewal trends, etc.)</li>
								<li>Create state-of-play dashboards</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$5000 - $6300</p>
							<a href="#applyredhat" id="applyredhat" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="drupal">
					<h3 style="margin:0">Drupal Developer</h3>
					<span>Cognizant Technology Solutions</span>
					<blockquote>Years of recent experience working on Drupal, Good at PHP / MySQL, HTML5 / CSS / JavaS...</blockquote>
					<a href="#popupdrupal" class="button alt">More</a>
					<a href="#applydrupal" class="button special" id="applydrupal">Apply</a>
					<div id="popupdrupal" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Drupal Developer
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.1</p>
								</span>
							</h3>
							<i>Cognizant Technology Solutions<br>
							80 Anson Road# 27-02/03 Fuji Xerox Towers Singapore 079907<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Years of recent experience working on Drupal</li>
								<li>Good at PHP / MySQL</li>
								<li>HTML5 / CSS / JavaScript</li>
								<li>AngularJS or Vue</li>
								<li>Some work experience with Elastic Search</li>
								<li>Coding and development of OLM APAC platform</li>
								<li>Communicating with business stakehodlers</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$4000 - $5300</p>
							<a href="#applydrupal" id="applydrupal" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="garena">
					<h3 style="margin:0">System Admin</h3>
					<span>Garena</span>
					<blockquote>Study, evaluate and design technical operation technologies and solutions. Develop plat...</blockquote>
					<a href="#popupgarena" class="button alt">More</a>
					<a href="#applygarena" class="button special" id="applygarena">Apply</a>
					<div id="popupgarena" class="overlay">
						<div class="popup">
							<h3 style="margin:0">System Admin
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<p class="fa-stack-1x fa-inverse">7.0</p>
								</span>
							</h3>
							<i>Garena<br>
							1 Fusionopolis Place, # 17-10, Galaxis Building, Singapore 138522<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<ul>
								<li>Study, evaluate and design technical operation technologies and solutions</li>
								<li>Develop platforms for technical operation incl. release/test/deploy/monitor, etc.</li>
								<li>Develop software modules for technical operation automation and visualization.</li>
								<li>Develop tools for configuration management.</li>
								<li>Liaise with operating engineers for continuous improvement and optimization.</li>
							</ul>
							<h4 style="margin:0">Salary</h4>
							<p>$3500 - $4000</p>
							<a href="#applygarena" id="applygarena" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>