<template name="discover">
	<section>
		<div class="inner">
			<h1 align="center">Discover</h1>
			<div class="row uniform">
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)" id="google">
					<h3 style="margin:0">Software Engineer</h3>
					<span>Google Inc.</span>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Ves...</blockquote>
					<a href="#popup1" class="button alt">More</a>
					<a href="#applygoogle" class="button special" id="applygoogle">Apply</a>
					<div id="popup1" class="overlay">
						<div class="popup">
							<h3 style="margin:0">Software Engineer</h3>
							<i>Google Inc.<br>
							1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA<br>
							Application closes 18 November 2017</i>
							<h4 style="margin:0">Description</h4>
							<span>job jdklafjl;afka;fjdlk;jfl;jaflsdajfl;asjl;fjal;f</span>
							<h4 style="margin:0">Expected Salary</h4>
							<p>$3000 - $4300</p>
							<a href="/apply" class="button special">Apply</a>
							<a class="close" href="#">&times;</a>
						</div>
					</div>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)">
					<h3 style="margin:0">Job 2</h3>
					<span>Microsoft Singapore</span>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Ves...</blockquote>
					<a href="/viewDetails" class="button alt">More</a>
					<a href="/apply" class="button special">Apply</a>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)">
					<h3 style="margin:0">Job 3</h3>
					<span>Google Inc.</span>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Ves...</blockquote>
					<a href="/viewDetails" class="button alt">More</a>
					<a href="/apply" class="button special">Apply</a>
				</div>
				<div class="3u 4u(medium) 6u(small) 12u$(xsmall)">
					<h3 style="margin:0">Job 4</h3>
					<span>Google Inc.</span>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Ves...</blockquote>
					<a href="/viewDetails" class="button alt">More</a>
					<a href="/apply" class="button special">Apply</a>
				</div>
			</div>
		</div>
	</section>
</template>