<template name="main">
	<section id="banner">
		<div class="inner">
			<h1>Ezeer<span><br />
			Your dream job is not a dream</span></h1>
			<ul class="actions">
				{{#if currentUser}}
				<li><a href="/dashboard" class="button special">Dashboard</a></li>
				<li><a href="/discover" class="button alt">Discover Jobs</a></li>
				{{else}}
				<li><a href="/login" class="button alt">Get Started</a></li>
				{{/if}}
			</ul>
		</div>
	</section>


	<section id="one">
		
		<div class="inner">
			<h2>Optimise the way you hire talent and discover jobs </h2>
			<p> Say goodbye to traditional recruitment and wave hello to <strong>frictionless recruitment</strong>!<br>At Ezeer, we are driven by a simple philosophy: to create a data-driven, more time and cost saving experience for recruiters and candidates, <strong>powered by Artificial Intelligence</strong>. Read on to find out more.</p>

			<ul class="actions">
				<li><a href="#" class="button alt">I'm a Job-Seeker</a></li>

				<li><a href="#" class="button special">I'm a Recruiter</a></li>
			</ul>
		</div>
	</section>


	<section id="two">
		
		<div class="inner">
			
			<div class="row uniform">
				<div class="12u$">
					<h2>For Candidates: Why Ezeer?</h2>
				</div>
				<div class="6u 12u$(medium)" align="center" style="padding:2% 2% 2% 2%">
					<h3>Save Time, Save Energy</h3>
					<img src="images/savetime.jpg" class="image fit">
					<p style="text-align:justify">Isn’t it a hassle to travel back and forth to recruitment agencies to fill up forms, submit time sheets etc.? At Ezeer, we understand that your <strong>time is precious</strong>. Hence, all you have to do is to upload your resume  and <strong>leave it to us</strong> to curate a list of recommended jobs, specially for you.</p>
				</div>
				<div class="6u$ 12u$(medium)" align="center" style="padding:2% 2% 2% 2%">
					<h3>Personalised Job Search</h3>
					<img src="images/personalise.jpg" class="image fit">
					<p style="text-align:justify"><strong>Let’s be honest.</strong> No one likes scrolling through thousands of irrelevant job postings. At Ezeer, we take pride in our algorithms, which analyse your resume and match you with <strong>concrete career opportunities</strong> that are <strong>best suited for you</strong>. All you have to do is to apply to these jobs and wait for news.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="three">
		<div class="inner">
			<div class="row uniform">
				<div class="12u$">
					<h2>Recruiters: What’s in it for you?</h2>
				</div>
				<div class="4u 12u$(medium)" align="center">
					<img src="images/time-is-money.png">
					<header>
						<h3>Accelerate Hiring, Boost Productivity</h3>
					</header>
					<p style="text-align:justify">Manual resume screening of large applicant volume is highly time-consuming and repetitive. Powered by machine learning and neural networks, Ezeer helps to <strong>streamline your recruitment process</strong>. This frees up valuable time to focus on other crucial aspects of your business, translating to <strong> lower overhead costs</strong>.</p>
				</div>
				<div class="4u 12u$(medium)" align="center">
					<img src = "images/interview.png">
					<header>
						<h3>Eliminate Human Bias</h3>
					</header>
					<p style="text-align:justify"> With Ezeer, not only can you do your job <strong>faster</strong>, you can do it <strong>better</strong>- it’s all about being data driven. We leverage on intelligent automation that <strong>goes beyond human knowledge</strong> or capabilities that can be hampered by subconscious biases during interviews. </p>
				</div>
				<div class="4u$ 12u$(medium)" align="center">
					<img src="images/besttalent.jpg">
					<header>
						<h3>Discover the best talent</h3>
					</header>
					<p style="text-align:justify">All you have to do is to input the job openings, relevant descriptions, and current employee’s resumes. <strong>Leave it to Ezeer</strong> to deliver profiles candidates of high calibre that are the <strong>best fit</strong> for your company, sorted by % of suitability. It is up to you to take further action: schedule for an interview or offer a job to preferred candidates.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="four" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pic11.jpg'); background-size:cover; padding: 7em 0 7em 0;">
		<div class="inner" align="center">
			<h1> Ezeer is the <em style="color:white">FUTURE</em> of recruitment.</h1>
			<h2>Start recruiting <em style="color:white">SMARTER</em> today!</h2>
		</div>
	</section>


	<section id="footer">
		<div class ="inner">
			<h2>Get in Touch</h2>
			<form id="contact">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div> 
				<input type="submit" value="Submit" />
			</form>
			<div class="copyright">
				&copy; International Squirrels 1105.<br>
				Credits to: <a href="https://templated.co/">TEMPLATED, </a> <a href="https://unsplash.com/">Unsplash, </a> <a href="http://www.freepik.com" title="Freepik">Freepik and </a> FlatIcon <a href="https://www.flaticon.com/" title="Flaticon"> </a>

			</div>
		</div>
	</section>

</template>