<template name="profile">
	<section>
		<div class="inner">
			<h1 align="center">{{currentUser.username}}</h1>
			<h3>Profile <a href="/updateProfile"><i class="fa fa-pencil-square-o" title="Click to edit profile" style="color:grey"></i></a></h3>
			{{#if profile.Name}}
			<div class="table-wrapper">
				<table>
					<tbody>
						<tr>
							<td>Name</td>
							<td>{{#if equals profile.Sex "Male"}}
								<i class="fa fa-mars"></i>
								{{else}}
								<i class="fa fa-venus"></i>
								{{/if}}
								{{profile.Name}}</td>
						</tr>
						<tr>
							<td>Address</td>
							<td>{{profile.Address}}<br>
							Singapore {{profile.Postal}}</td>
						</tr>
						<tr>
							<td>Contact</td>
							<td><i class="fa fa-envelope"></i>	{{profile.Email}}<br>
								<i class="fa fa-phone"></i>	{{profile.Telephone}}</td>
						</tr>
						<tr>
							<td>Education</td>
							<td>{{profile.EducationLevel}} in {{profile.FieldOfStudy}} ({{profile.Grade}})<br>
								{{profile.Instituition}}<br>
								{{momentFormat profile.EducationFrom "MMM Y"}} till {{momentFormat profile.EducationTo "MMM Y"}}</td>
						</tr>
						<tr>
							<td>Work Experience</td>
							<td>{{profile.JobRole}} ({{profile.Company}})<br>
								{{profile.JobDescription}}<br>
								{{momentFormat profile.WorkFrom "MMM Y"}} till {{momentFormat profile.WorkTo "MMM Y"}}</td>
						</tr>
						<tr>
							<td>Skills</td>
							<td>{{#each profile.Skills}}
								{{this}}<br>
							{{/each}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			{{else}}
			<span>Click <i class="fa fa-pencil-square-o"></i> to start filling out your profile</span>
			{{/if}}
		</div>
	</section>
</template>