<template name="updateProfile">
	<section>
		<div class="inner">
			<h1 align="center">Update Profile</h1>
			<form id="resumeUpload">
				<div class="row uniform">
					<div class="12u$ 12u$(xsmall)">
						<h3>Resume Upload</h3>
					</div>
					<div class="10u 12u$(xsmall)">
						<input type="file" name="resume" id="resume" style="display:none" accept=".doc, .docx, .pdf" onChange="$('#uploadLabel').html(this.value.replace(/^.*\\/, ''))"/>
						<label for="resume"><a class="button special fit" id="uploadLabel">Upload Resume (.doc, .docx, .pdf only)</a></label>
					</div>
					<div class="2u$ 12u$(xsmall)">
						<label><a class="button alt fit" onClick="form.submit()">Submit</a></label>
					</div>
				</div>
			</form>
			<h2 align="center">OR</h2>
			<form id="profile">
				<div class="row uniform">
					<div class="12u$ 12u$(xsmall)">
						<h3>Basic Information</h3>
					</div>

						<div class="10u 12u$(xsmall)">
							<input type="text" name="name" placeholder="Name" required />
						</div>
						<div class="2u$ 12u$(xsmall)">
							<div class="select-wrapper">
								<select name="sex">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
						

						<div class="10u 12u$(xsmall)">
							<input type="text" name="address" placeholder="Address" required />
						</div>
						<div class="2u$ 12u$(xsmall)">
							<input type="text" name="postal" placeholder="Postal" pattern="[0-9]{6}" minlength="6" maxlength="6" required />
						</div>

						<div class="9u 12u$(xsmall)">
							<input type="email" name="email" placeholder="Email Address" required />
						</div>
						<div class="3u$ 12u$(xsmall)">
							<input type="tel" name="telephone" placeholder="Telephone" minlength="8" maxlength="8" required />
						</div>

					<div class="12u$ 12u$(xsmall)">
						<h3>Highest Education</h3>
					</div>

						<div class="2u 12u$(xsmall)">
							<div class="select-wrapper">
								<select name="educationLevel">
									<option value="Doctorate">Doctorate</option>
									<option value="Masters">Masters</option>
									<option value="Bachelor">Bachelor</option>
									<option value="Diploma">Diploma</option>
									<option value="IB">IB</option>
									<option value="GCE A Levels">GCE A Levels</option>
									<option value="GCE O Levels">GCE O Levels</option>
									<option value="GCE N Levels">GCE N Levels</option>
									<option value="PSLE">PSLE</option>
								</select>
							</div>
						</div>
						<div class="4u 12u$(xsmall)">
							<input type="text" name="fieldOfStudy" placeholder="Field of Study" required/>
						</div>
						<div class="3u 12u$(xsmall)">
							<input type="text" onfocus="(this.type='month')" name="educationFrom" placeholder="From" required/>
						</div>
						<div class="3u$ 12u$(xsmall)">
							<input type="text" onfocus="(this.type='month')" name="educationTo" placeholder="To" required/>
						</div>

						<div class="8u 12u$(xsmall)">
							<input type="text" name="instituition" placeholder="Instituition" required/>
						</div>
						<div class="4u$ 12u$(xsmall)">
							<input type="text" name="grade" placeholder="Grade" required/>
						</div>

					<div class="12u$ 12u$(xsmall)">
						<h3>Work Experience</h3>
					</div>

						<div class="6u 12u$(xsmall)">
							<input type="text" name="company" placeholder="Company" required />
						</div>
						<div class="3u 12u$(xsmall)">
							<input type="text" onfocus="(this.type='month')" name="workFrom" placeholder="From" required/>
						</div>
						<div class="3u$ 12u$(xsmall)">
							<input type="text" onfocus="(this.type='month')" name="workTo" placeholder="To" required/>
						</div>

						<div class="4u 12u$(xsmall)">
							<input type="text" name="jobRole" placeholder="Job Role" required />
						</div>
						<div class="8u$ 12u$(xsmall)">
							<input type="text" name="jobDescription" placeholder="Description" required />
						</div>

					<div class="12u$ 12u$(xsmall)">
						<h3>Skills</h3>
					</div>

						<div class="12u$ 12u$(xsmall)">
							<input type="text" name="skills" placeholder="Skills (separated by ,)" />
						</div>


					<div class="12u$ 12u$(xsmall)" align="center">
						<input type="submit" value="Submit" class="button special" />
					</div>
				</div>
			</form>
		

			
		</div>
	</section>
</template>